@import "dracula-colors";

// This defines all syntax variables that syntax themes must implement
// when they include a syntax-variables.less file.

// General colors
@syntax-text-color: @base_fg;
@syntax-cursor-color: @base_cyan;
@syntax-selection-color: @misc_selection;
@syntax-background-color: @base_bg;

// Guide colors
@syntax-wrap-guide-color: @misc_nonText;
@syntax-indent-guide-color: @misc_nonText;
@syntax-invisible-character-color: @misc_nonText;

// For find and replace markers
@syntax-result-marker-color: alpha(@base_orange, 0.8);
@syntax-result-marker-color-selected: alpha(@base_white, 0.4);

// Gutter colors
@syntax-gutter-text-color: @misc_comment;
@syntax-gutter-text-color-selected: @base_cyan;
@syntax-gutter-background-color: transparent;
@syntax-gutter-background-color-selected: transparent;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @base_orange;
@syntax-color-added: @base_green;
@syntax-color-modified: @base_orange;
@syntax-color-removed: @base_red;

// For language entity colors
@syntax-color-variable: #008080;
@syntax-color-constant: #099;
@syntax-color-property: #333;
@syntax-color-value: @syntax-color-constant;
@syntax-color-function: #900;
@syntax-color-method: @syntax-color-function;
@syntax-color-class: #606aa1;
@syntax-color-keyword: #222;
@syntax-color-tag: #008080;
@syntax-color-attribute: #458;
@syntax-color-import: @syntax-color-keyword;
@syntax-color-snippet: @syntax-color-constant;
